# 1. Pandas Series 객체

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [3]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [4]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
data[1]

0.5

In [6]:
data[1:3]

1    0.50
2    0.75
dtype: float64

### 1-1 일반화된 NumPy 배열

In [7]:
data= pd.Series([0.25, 0.5, 0.75, 1.0],
               index = ['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [8]:
data['b']

0.5

In [9]:
data= pd.Series([0.25, 0.5, 0.75, 1.0],
               index = [2, 3, 5, 7])
data

2    0.25
3    0.50
5    0.75
7    1.00
dtype: float64

### 1-2 Series: 특수한 딕셔너리

In [10]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}

population = pd.Series(population_dict)
population

California    38332521
Florida       19552860
Illinois      12882135
New York      19651127
Texas         26448193
dtype: int64

In [11]:
population['California']

38332521

In [12]:
population['California' : 'Illinois']

California    38332521
Florida       19552860
Illinois      12882135
dtype: int64

### 1-3 Series 객체 구성하기

In [13]:
pd.Series([2,4,6])

0    2
1    4
2    6
dtype: int64

In [14]:
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

In [15]:
pd.Series({2:'a', 1:'b', 3:'c'})

1    b
2    a
3    c
dtype: object

In [16]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3,2])

3    c
2    a
dtype: object

# 2. Pandas DataFrame 객체

### 2-1 DataFrame: 일반화된 NumPy 배열
2차원 배열을 정렬된 1차원 열의 연속으로 볼 수 있듯이 DataFrame은 정렬된 Series 객체의 연속으로 볼 수 있다.

In [17]:
area_dict = {'California':423967, 'Texas':695662, 'New York':141297, 'Florida':170312, 'Illinois':149995}
area = pd.Series(area_dict)
area

California    423967
Florida       170312
Illinois      149995
New York      141297
Texas         695662
dtype: int64

In [18]:
states = pd.DataFrame({'population':population,
                      'area':area})
states

              area  population
California  423967    38332521
Florida     170312    19552860
Illinois    149995    12882135
New York    141297    19651127
Texas       695662    26448193

In [19]:
states.index

Index(['California', 'Florida', 'Illinois', 'New York', 'Texas'], dtype='object')

In [20]:
states.columns

Index(['area', 'population'], dtype='object')

### 2-2 DataFrame: 특수한 딕셔너리
딕셔너리는 키를 값에 매핑한다면 DataFrame은 열 이름을 열 데이터로 이뤄진 Series에 매핑한다.

In [21]:
states['area']

California    423967
Florida       170312
Illinois      149995
New York      141297
Texas         695662
Name: area, dtype: int64

### 2-2 DataFrame 객체 구성하기

In [22]:
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Florida       19552860
Illinois      12882135
New York      19651127
Texas         26448193

In [23]:
data = [{'a':i, 'b':2*i} for i in range(3)]
print(data, "\n")
print(data[0], "\n")
print(data[0]['a'])
pd.DataFrame(data)

[{'a': 0, 'b': 0}, {'a': 1, 'b': 2}, {'a': 2, 'b': 4}]

{'a': 0, 'b': 0}

0

   a  b
0  0  0
1  1  2
2  2  4

In [24]:
pd.DataFrame([{'a':1, 'b':2}, {'b':3, 'c':4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [25]:
pd.DataFrame({'population': population,
             'area':area})

              area  population
California  423967    38332521
Florida     170312    19552860
Illinois    149995    12882135
New York    141297    19651127
Texas       695662    26448193

In [26]:
np.random.rand(10,2)
# np.random.random(10,2) 에러!
# random은 1차원 랜덤 숫자만!
# rand는 2차원 이상도 가능!

array([[0.34598068, 0.00700259],
       [0.9258927 , 0.28650213],
       [0.67972531, 0.73121599],
       [0.94821014, 0.08777276],
       [0.05474137, 0.09623319],
       [0.3384028 , 0.62903935],
       [0.6529384 , 0.53220189],
       [0.33773198, 0.73682066],
       [0.86100759, 0.10227983],
       [0.51571949, 0.01072903]])

In [27]:
pd.DataFrame(np.random.rand(3,2), columns = ['foo', 'bar'],
            index = ['a', 'b', 'c'])

        foo       bar
a  0.008845  0.917630
b  0.781987  0.635345
c  0.722229  0.209776

In [28]:
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [29]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

# 3. Pandas Index 객체

In [31]:
ind = pd.Index([2,3,5,7,11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

### 3-1 Index: 불변의 배열
Index 객체와 NumPy 배열의 한 가지 차이점이라면 Index 객체는 일반적인 방법으로는 변경될 수 없는 불변의 값이라는 점이다.

In [32]:
ind[1]

3

In [33]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

In [34]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

In [36]:
ind[0] = 4

TypeError: Index does not support mutable operations

### 3-2 Index: 정렬된 집합

In [37]:
indA = pd.Index([1,3,5,7,9])
indB = pd.Index([2,3,5,7,11])

In [38]:
indA & indB

Int64Index([3, 5, 7], dtype='int64')

In [39]:
indA | indB

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [40]:
indA ^ indB

Int64Index([1, 2, 9, 11], dtype='int64')